* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Clarkson",Helvetica,sans-serif;
}

body,html {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

#background {
    background-image: url("Assets/Professional.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.banner {
    position: absolute;
    padding: 10px;
    width: 60%;
    left: 40%;
    top: 0%;
}

.navbar {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 50px;
}

.theme-banner {
    display: flex;
    position: absolute;
    background-color: rgba(228, 220, 220, 0.767);
    border-radius: 50px;
    margin: 10px;
    left: 0%;
    bottom: 25%;
    top: 25%
}

.theme-navbar {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
}

.theme-navbar button {
    background-color: transparent;
    border: none;
    text-shadow: 2px 2px lightgray;
    color: rgb(119, 93, 60);
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
}

.name {
    position: absolute;
    bottom: 15%;
    right: 5%;
    color: white;
    font-size: 80px;
    text-shadow: 2px 2px grey;
    transform: translate(65%, 75%);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    line-height: 1.2;
}

.navbar a{
    font-size: 30px;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    text-shadow: 2px 2px grey;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.img-container {
    position: absolute;
    left: 20%;
    bottom: 10%;
    height: 576px;
    width: 432px;
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#personal-img {
    object-fit: cover;
    border-radius: 50px;
    box-shadow: 10px 15px 25px 0 rgba(0,0,0,.4);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    margin-top: -10px;
}

.img-container .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
  }

  .img-container .glow{
    display: block;
    position:absolute;
    width: 40%;
    height: 200%;
    background: rgba(255,255,255,.2);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .img-container:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .img-container:hover img{
    box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
  }

  .img-container:hover h1{
    transform: translate(75%, 88%);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .img-container:hover{
    transform: translate(-4%, -6%);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .img-container:hover img,
  .img-container:hover .glow-wrap{
    margin-top: 0;
}

a:hover {
    font-size: 33px;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

button:hover {
    font-size: 17px;
    transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
}


/* 
ABOUT ME
*/


.about-me {
    height: 70%;
    background-color: white;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    display: flex;
}

.hello {
    position: relative;
    height: fit-content;
    top: 50%;
    left: 15%;
    transform: translate(0,-50%);
    color: black;
    font-size: 50px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 35%;
    transform: translate(0,-50%);
    text-align: center;
    position: relative;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    margin: 25px;
    width: 600px;
    height: 400px;
}


.about-me-text {
    color: black;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    text-align: justify;
}

.color {
    color: rgb(255 244 224);
    color: rgb(138, 138, 138);
    color: rgb(90, 116, 90);
}




/* EDUCATION */

.education {
    display: flex;
    align-items: center;
    height: 100%;
}

.title {
    position: relative;
    width: fit-content;
    left: 15%;
    top: 3%;
    color: black;
    font-size: 25px;
}

.education-navbar {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 90%;
    justify-content: space-around;
    background-color: white;
}

.education-navbar button {
    background-color: transparent;
    border: none;
    color: black;
    text-transform: uppercase;
    padding: 10px;
}

.education-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    background-image: url("Assets/BiblioTec.jpeg");
    background-size: cover;    
}

#education-h1 {
    color: white;
    font-size: 60px;
    margin: 5px;
    text-shadow: 2px 2px grey;
}

#education-txt {
    color: white;
    margin: 5px;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(68, 68, 68, 0.3);
}

#grad-date {
    color: white;
    margin: 5px;
    font-size: 20px;
    background-color: rgba(68, 68, 68, 0.3);
}

.diploma-navbar {
    display: flex;
}

.diploma-navbar button{
    margin: 20px;
    text-decoration: none;
    background-color: white;
    border: none;
    border-radius: 50px;
    color: black;
    padding: 10px;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#hs-transcript {
    border: 2px solid white;
}

#doc {
    width: 448px;
    height: 571px;
    margin: 20px;
    border: 3px solid white;
}






.portfolio {
    display: flex;
    align-items: center;
    height: 100%;
}

.portfolio-navbar {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 90%;
    justify-content: space-around;
    background-color: white;
}

.portfolio-navbar button {
    background-color: transparent;
    border: none;
    color: black;
    text-transform: uppercase;
    padding: 10px;
}

.portfolio-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    background-color: white;
    align-items: center;
    background-image: url("Assets/office.jpeg");
    background-size: cover;
}

.portfolio-layout {
    display: flex;
    flex-direction: column;
    height: 98%;
    width: 98%;
}


.first-row {
    display: flex;
    justify-content: space-around;
    height: 33.333333%;
    width: 100%;
}
.second-row {
    display: flex;
    justify-content: space-around;
    height: 33.333333%;
    width: 100%;
}
.third-row {
    display: flex;
    justify-content: space-around;
    height: 33.333333%;
    width: 100%;
}

.project-container {
    height: 100%;
    width: 33.333333%;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}



.project-cover {
    height: 100%;
    width: 100%;
    border: 5px solid rgb(44 35 28);
}

.project-view {
    position: absolute;
    height: 90%;
    width: 80%;
    background-image: url("Assets/office.jpeg");
    background-size: cover;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}



#back-to-portfolio {
    position: absolute;
    top: 2%;
    right: 4%;
    text-decoration: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    height: fit-content;
    width: fit-content;
}

#back-to-portfolio:hover {
    font-size: 22px;
}

.project-image-container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
    width: 500px;
}
#project-image {
    width: 500px;
    height: 300px;
    border: 5px solid rgb(44 35 28);
}

.project-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 15%;
    height: fit-content;
    width: 85%;
    transform: translate(-50%,0);
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    background-color: #ffe4c48c;
}
#project-text {
    color: white;
    font-size: 20px;
    margin: 20px;
    text-align: justify;
}

.view-github {
    display: none;
    position: absolute;
    left: 20%;
    bottom: 20%;
}
.git-logo {
    height: 20px;
    width: 20px;
}









.contact {
    height: 30%;
    display: flex;
    justify-content: center;
    background-color: #373737;
}


.info-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin-right: 100px;
}

.info-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    margin-left: 100px;
}


.contact-container {
    display: flex;
    align-items: center;
    height: 50px;
    width: 450px;
    margin: 15px;
    background-color: transparent;
}

.social-container {
    width: fit-content;
    height: fit-content;
    margin: 15px;
    width: 35px;
    background-color: transparent;
}

.contact-container img {
    justify-content: flex-start;
    border: none;
}

.contact-container p {
    justify-content: center;
}

.info {
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
    color: white;

}

.logo {
    height: 40px;
    width: 40px;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#gmail-logo {
    height: 30px;
    width: 40px;
}

.social-container img:hover {
    height: 45px;
    width: 45px;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

